* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#card-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 512px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.clear-button-container {
    display: flex;
    justify-content: end;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease-in-out 200ms;
}

.add-button {
    background-color: #007bff;
}
.add-button:hover {
    background-color: #0069d9;
}

.clear-button {
    background-color: #007bff;
}
.clear-button:hover {
    background-color: #0069d9;
}

.input-container {
    display: flex;
    gap: 8px;
}

.no-movies-banner {
    padding: 24px;
    background-color: #f0f0f0;
    border-radius: 12px;
}
