* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 128px 0;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.answerSelect {
    display: flex;
    gap: 4px;
}

@media only screen and (max-width: 1024px) {
    .container {
        padding: 0 64px;
    }
}
