* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 24px;
}

h1 {
    font-size: 32px;
}

table {
    width: 100%;
}

th,
td {
    font-size: 24px;
    padding: 4px 0 4px 0;
}

th {
    text-align: center;
}

.score-bar {
    width: 50%;
    height: 24px;
}

.score-1 {
    padding: 4px;
    width: 99%;
    background-color: purple;
}
.score-2 {
    padding: 4px;
    width: 92%;
    background-color: skyblue;
}
.score-3 {
    padding: 4px;
    width: 78%;
    background-color: blue;
}
.score-4 {
    padding: 4px;
    width: 88%;
    background-color: green;
}
.score-5 {
    padding: 4px;
    width: 95%;
    background-color: yellow;
}