* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-size: 32px;
}

td {
    text-align: center;
    padding: 12px;
    border: 1px solid #000000;
}

.another-month {
    background-color: rgb(171, 186, 235);
    color: red;
}