html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Misans';
    src: url('./assets/fonts/MiSans\ VF.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Misans', sans-serif;
}
