@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geist Mono", monospace;
    color: #252525;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 64px 0;
}

.button {
    padding: 10px 20px;
    background-color: #252525;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    
    &:hover {
        background-color: #333;
    }
}

.button-outline {
    background-color: transparent;
    border: 2px solid #252525;
    color: #252525;
    
    &:hover {
        background-color: #252525;
        color: #fff;
    }
}

.button-link {
    text-decoration: underline;
    background-color: transparent;
    text-underline-offset: 4px;
    color: #252525;
    
    &:hover {
        color: #333;
    }
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid #252525;
    border-radius: 5px;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

nav {
    display: flex;
    gap: 24px;
    justify-content: left;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #252525;
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
