* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
}

th {
    background-color: #CCCCCC;
    font-weight: 700;
    border: 1px solid #808080;
    padding: 10px 15px;
}

td {
    border: 1px solid #808080;
    padding: 10px 15px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5169d6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}