* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200vh;
    margin: 0 auto;
}

.form-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.form-container form {
    width: 100%;
    max-width: 400px;
}

.form-container form label {
    display: block;
    margin-bottom: 10px;
}

.form-container form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.form-container form button {
    width: 100%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    gap: 20px;
}

.button-container button {
    width: 48%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
